#logo {
	margin-top: 20px;
	vertical-align: top;
	padding-left: 37%;
	font: 2em bold black;
}

#registerView {
	margin-top: 10%;
	margin-left: 40%;
}

#id {
	margin-bottom: 10px;
}

#pw {
	margin-bottom: 10px;
}

#email {
	margin-bottom: 30px;
}
